@import "../styling/loan.scss";

$bg-primary: #2f374d;
$bg: #fff;

.container {
  background: $bg-primary;
  // align-items: center;
  display: flex;

  .application {
    max-width: 700px;
    width: 700px;
    padding: 30px;
    background-color: $bg;

    overflow: auto;
  }
  .summary {
    margin: 30px;
    background-color: $bg;
    width: 500px;
    height: 300px;
    position: fixed;
    right: 100px;
  }
}
