body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.main_div {
  background: #000c3d;
  align-items: center;
}
.center_div {
  max-width: 600px;
  width: 600px;
  padding: 30px;
  background-color: rgb(255, 255, 255);

  overflow: auto;
}
